@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.footer-container{
    margin-top: 100px;
    background-color: #000000;
    width: 100%;
    height: 380px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.footer-container-section{
    max-width: 1100px;
    margin: auto;
}
.footer-top-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding: 40px 0;
}
.footer-text h1{
    font-size: 30px;
    font-weight: 600;
}
.footer-social{
    display: flex;
    gap: 20px;
}
.footer-links{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer-link{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.footer-link h1{
    font-size: 25px;
    font-weight: 500;
}
.footer-link p{
    font-size: 14px;
}